
@{
    ViewData["Title"] = "Index";
}

<!-- Page Content -->
@*<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*@
<div class="container-fluid h-100" id="mainPage">
    <div class="row h-100 justify-content-center align-items-center">

        <!-- CONTACT / LOGO -->
        <div class="col-xl-6">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="~/images/logo/nr.2.png" id="logo_image" alt="company_logo" />
                    @*<button class="btn btn-default" id="changeLogo" style="position:fixed">Vajuta, et logo muuta</button>*@
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="text-no-pad-marg">
                        <h3 class="mt-4 text-title">Kontakt</h3>
                        <hr />
                        <address>
                            <p class="font-weight-bold">ENEK Elektriehitus OÜ</p>
                            <p title="Phone">TEL: (372) 456-7890</p>
                            <p title="Email">Email: <a href="mailto:#">enek@@enek.ee</a></p>
                        </address>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="text-no-pad-marg">
                        <h3 class="mt-4 text-title">Koostöö Partnerid</h3>
                        <hr />
                        <p>Onu Peeter</p>
                        <p>Vene vanatädi paremalt</p>
                        <p>Vene tädi vasakult</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- DESCRIPTION -->
        <div class="col-xl-6 align-self-center">
            <h3 class="mt-4 text-title">Tegevusalad:</h3>
            <hr />
            <div class="row no-gutters">
                <div class="col-sm-1 align-self-start padding-right-small-imp">
                    <img class="mainp-icons" src="~/images/icons/index/ELEKTRITÖÖD.png" alt="elektritööd_pilt" />
                </div>
                <div class="col-sm-11">
                    <h5><b>ELEKTRITÖÖD</b></h5>
                    <p>Teostame eramute ja tööstushoonete elektritöid. Välisvõrkude ehitus.</p>
                </div>
            </div>
            <div>
                <div class="row no-gutters">
                    <div class="col-sm-1 align-self-center padding-right-small-imp">
                        <a href="" data-toggle="modal" data-target="#kilbidModal"><img class="mainp-icons" src="~/images/icons/index/ELEKTRIKILBID .png" alt="elektrikilbid_pilt" /></a>

                        <!-- Käidukorraldus modal -->
                        <div class="modal fade" id="kilbidModal" tabindex="-1" role="dialog" aria-labelledby="kilbidModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="kilbidModalCenterTitle">Pildid tehtud kilpidest</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        pildid kilpidest jne
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sule</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-11">
                        <h5><b>ELEKTRIKILBID</b></h5>
                        <p>Projekteerimine, koostamine, montaaz, renoveerimine. (kilbi pildile võiks saada klikata ja siis ilusaid pilte vaadata tehtud töödest)</p>
                    </div>
                </div>

            </div>
            <div>
                <div class="row no-gutters">
                    <div class="col-sm-1 align-self-center padding-right-small-imp">
                        <img class="mainp-icons" src="~/images/icons/index/JOONISED.png" alt="joonised_pilt" />
                    </div>
                    <div class="col-sm-11">
                        <h5><b>JOONISED</b></h5>
                        <p>Projekteerimine, teostusjoonised. Olemasolevatele elektripaigaldistele teostusjooniste joonistamine.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="row no-gutters">
                    <div class="col-sm-1 align-self-center padding-right-small-imp">
                        <img class="mainp-icons" src="~/images/icons/screwdriver.svg" alt="screwdriver" />
                    </div>
                    <div class="col-sm-11">
                        <h5><b>KÄIDUKORRALDUS</b></h5>
                        <p>
                            Teostame elektripaigaldiste korralist hooldust ja käidukorraldust. <a href="" class="btn-link font-weight-bold" data-toggle="modal" data-target="#kaidukorraldusModal">Käiduobjektid</a>.
                        </p>
                        <!-- Käidukorraldus modal -->
                        <div class="modal fade" id="kaidukorraldusModal" tabindex="-1" role="dialog" aria-labelledby="kaidukorraldusModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="kaidukorraldusModalCenterTitle">KÄIDUKORRALDUSED</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Tegeleme ikka selle farmiga veel</p>
                                        <p>Ja veel selle teise farmiga ka noh</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sule</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
