
@{
    ViewData["Title"] = "Index";
}

<!-- Page Content -->
@*<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*@
<div class="container-fluid h-100" id="mainPage">
    <div class="row h-100 justify-content-center align-items-center">

        <!-- CONTACT / LOGO -->
        <div class="col-xl-6">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="~/images/logo/nr.2.png" id="logo_image" alt="company_logo" />
                    @*<button class="btn btn-default" id="changeLogo" style="position:fixed">Vajuta, et logo muuta</button>*@
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="text-no-pad-marg">
                        <h3 class="mt-4 text-title">Kontakt</h3>
                        <hr />
                        <address>
                            <p class="font-weight-bold">ENEK Elektriehitus OÜ</p>
                            <p title="Phone">TEL: (372) 456-7890</p>
                            <p title="Email">Email: <a href="mailto:#">enek@@enek.ee</a></p>
                        </address>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="text-no-pad-marg">
                        <h3 class="mt-4 text-title">Koostöö Partnerid</h3>
                        <hr />
                        <p>Onu Peeter</p>
                        <p>Vene vanatädi paremalt</p>
                        <p>Vene tädi vasakult</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- DESCRIPTION -->
        <div class="col-xl-6 align-self-center">
            <h3 class="mt-4 text-title">Tegevusalad:</h3>
            <hr />
            <div class="row no-gutters">
                <div class="col-sm-1 padding-right-small-imp">
                    <img class="svgicon-main" src="~/images/icons/house.svg" alt="electricityHouseIcon" />
                </div>
                <div class="col-sm-11">
                    <h5><b>ELEKTRITÖÖD</b></h5>
                    <p>Tuleme tuppa ja teeme veits elektritööd, võib vahel ka õues kui soe on.</p>
                </div>
            </div>
            <div>
                <div class="row no-gutters">
                    <div class="col-sm-1 padding-right-small-imp">
                        <img class="svgicon-main" src="~/images/icons/electrical-panel.svg" alt="electricalPanel" />
                    </div>
                    <div class="col-sm-11">
                        <h5><b>KILBID</b></h5>
                        <p>Koostame nii ilusaid kui ka koledamaid kilpe kui tarvis.</p>
                    </div>
                </div>

            </div>
            <div>
                <div class="row no-gutters">
                    <div class="col-sm-1 padding-right-small-imp">
                        <img class="svgicon-main" src="~/images/icons/wiring-diagram.svg" alt="electricityWiring" />
                    </div>
                    <div class="col-sm-11">
                        <h5><b>JOONISED</b></h5>
                        <p>Alates kiirest kritseldusest kuni keerukate autocadide joonisteni. <a asp-area="" asp-controller="Home" asp-action="Contact" class="btn-link font-weight-bold">Loe lähemalt</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="row no-gutters">
                    <div class="col-sm-1 padding-right-small-imp">
                        <img class="svgicon-main" src="~/images/icons/screwdriver.svg" alt="screwdriver" />
                    </div>
                    <div class="col-sm-11">
                        <h5><b>KÄIT</b></h5>
                        <p>Korraldame käike igasugustesse huvitavatesse elektrijaamadesse ja viskame pilgud peale vanadele elektrikilpidele(lisatasu eest).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
