@{
    ViewData["Title"] = "KONTAKT";
}
<div class="container h-100 text-center">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-12" id="contactContainer">
            <h2 class="text-title pt-4">@ViewData["Title"]</h2>
            <p class="font-weight-bold">ENEK Elektriehitus OÜ</p>
            <address>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="~/images/icons/contact/mail.png" alt="email" class="contactImg" />
                        <p title="Email">Email: <a href="mailto:enek@@enek.ee">enek@@enek.ee</a></p>
                    </div>
                    <div class="col-lg-4">
                        <img src="~/images/icons/contact/location.png" alt="address" class="contactImg" />
                        <p title="Aadress">Taru tee 18, 74016 Viimsi</p>
                    </div>
                    <div class="col-lg-4">
                        <img src="~/images/icons/contact/phone.png" alt="phone" class="contactImg" />
                        <p title="Telefon">Tel: (372) 50 49 631</p>
                    </div>
                </div>
            </address>
        </div>
    </div>
</div>

