@{
    ViewData["Title"] = "Leiunurk";
}

<div class="container text-center" id="leftoversContainer">
    <h2 class="text-title">LEIUNURK</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
    </div>
</div>
