@{
    ViewData["Title"] = "Leiunurk";
}

<div class="container text-center" id="leftoversContainer">
    <h2 class="text-title">LEIUNURK</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-gallery">
                    <div class="row h-100">
                        <div id="galleryCarousel1" class="carousel slide h-100" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner h-100" role="listbox">

                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>
                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#galleryCarousel1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#galleryCarousel1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-gallery">
                    <div class="row h-100">
                        <div id="galleryCarousel2" class="carousel slide h-100" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner h-100" role="listbox">

                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>
                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#galleryCarousel2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#galleryCarousel2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-gallery">
                    <div class="row h-100">
                        <div id="galleryCarousel3" class="carousel slide h-100" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner h-100" role="listbox">

                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>
                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#galleryCarousel3" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#galleryCarousel3" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-gallery">
                    <div class="row h-100">
                        <div id="galleryCarousel4" class="carousel slide h-100" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner h-100" role="listbox">

                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>
                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#galleryCarousel1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#galleryCarousel4" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-gallery">
                    <div class="row h-100">
                        <div id="galleryCarousel5" class="carousel slide h-100" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner h-100" role="listbox">

                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>
                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#galleryCarousel5" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#galleryCarousel5" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-gallery">
                    <div class="row h-100">
                        <div id="galleryCarousel6" class="carousel slide h-100" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner h-100" role="listbox">

                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>
                                <div class="carousel-item active h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/gun_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/truck_driver_logo.png">
                                </div>
                                <div class="carousel-item h-100 justify-content-center">
                                    <img class="d-block col-3 img-fluid" src="~/images/logo/partners/banaanid_company_logo.jpg">
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#galleryCarousel6" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#galleryCarousel6" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mein-card">
                <div class="mein-card-img">
                    <img src="~/images/icons/contact/mail.png" alt="test_icon" />
                </div>
                <div class="mein-card-title">
                    <h3>Hello</h3>
                </div>
                <div class="mein-card-body">
                    <p>Kirjeldus müügiks ja kuhugi siia hind ka veel</p>
                </div>
            </div>
        </div>
    </div>
</div>
