@model ENEKweb.Models.PartneridIndexModel
@{
    ViewData["Title"] = "PARTNERID";
}

<div class="container text-center">
    <h2 class="text-title">@ViewData["Title"]</h2>
    <div class="row">

        @foreach (var partner in Model.PartneridViewList) {

            <div class="col-sm-4">
                <div class="mein-card-partners">
                    @if (partner.Image != null) {
                        <div class="mein-card-img">
                            <img src="~/images/uploaded/partnerid/@partner.Image.ImageFileName" alt="partner_logo" />
                        </div>
                    }

                    <div class="mein-card-title">
                        <h3>@partner.Name</h3>
                    </div>

                    @if (partner.Description != null && partner.Description != "") {
                        <div class="mein-card-body">
                            <p>@partner.Description</p>
                        </div>
                    }

                </div>
            </div>
        }

    </div>

</div>