
@{
    ViewData["Title"] = "TEHTUD TÖÖD";
}

<section class="jumbotron leiunurk-jumbotron text-center">
    <div class="container">
        <h2 class="text-title jumbotron-heading">@ViewData["Title"]</h2>
        <p class="lead text-muted">
            Meie poolt täide viidud objektid.
        </p>
    </div>
</section>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-6">
            <h3 style="height: 300px;">Suurem pilt?</h3>
            <h4>Objekti nimi??</h4>
            <div class="row">
                <div class="col-sm-4">
                    <p>Millal tehtud</p>
                </div>
                <div class="col-sm-4">
                    <p>Midagi veel</p>
                </div>
                <div class="col-sm-4">
                    <p>Kirjeldust veel vms</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3 style="height: 300px;">Suurem pilt?</h3>
            <h4>Objekti nimi??</h4>
            <div class="row">
                <div class="col-sm-4">
                    <p>Millal tehtud</p>
                </div>
                <div class="col-sm-4">
                    <p>Midagi veel</p>
                </div>
                <div class="col-sm-4">
                    <p>Kirjeldust veel vms</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3 style="height: 300px;">Suurem pilt?</h3>
            <h4>Objekti nimi??</h4>
            <div class="row">
                <div class="col-sm-4">
                    <p>Millal tehtud</p>
                </div>
                <div class="col-sm-4">
                    <p>Midagi veel</p>
                </div>
                <div class="col-sm-4">
                    <p>Kirjeldust veel vms</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3 style="height: 300px;">Suurem pilt?</h3>
            <h4>Objekti nimi??</h4>
            <div class="row">
                <div class="col-sm-4">
                    <p>Millal tehtud</p>
                </div>
                <div class="col-sm-4">
                    <p>Midagi veel</p>
                </div>
                <div class="col-sm-4">
                    <p>Kirjeldust veel vms</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3 style="height: 300px;">Suurem pilt?</h3>
            <h4>Objekti nimi??</h4>
            <div class="row">
                <div class="col-sm-4">
                    <p>Millal tehtud</p>
                </div>
                <div class="col-sm-4">
                    <p>Midagi veel</p>
                </div>
                <div class="col-sm-4">
                    <p>Kirjeldust veel vms</p>
                </div>
            </div>
        </div>


    </div>
</div>