
@{
    ViewData["Title"] = "TEHTUD TÖÖD";
}

<div class="container text-center" id="tehtudtoodPage">
    <h2 class="text-title">@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="mein-card-donework">
                <div class="mein-card-donework-top">
                    <img src="~/images/samples/donejob1.jpg" alt="donejob" />
                </div>
                <div class="mein-card-donework-bottom justify-content-end">
                    <div class="mein-card-title">
                        <h3>Pealkiri/Objekti nimi</h3>
                    </div>
                    <div class="mein-card-body">
                        <p>Mingi tekst siia</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mein-card-donework">
                <div class="mein-card-donework-top">
                    <img src="~/images/samples/donejob2.jpg" alt="donejob" />
                </div>
                <div class="mein-card-donework-bottom">
                    <div class="mein-card-title">
                        <h3>Pealkiri/Objekti nimi</h3>
                    </div>
                    <div class="mein-card-body">
                        <p>Mingi tekst siia</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mein-card-donework">
                <div class="mein-card-donework-top">
                    <img src="~/images/samples/donejob3.jpg" alt="donejob" />
                </div>
                <div class="mein-card-donework-bottom justify-content-end">
                    <div class="mein-card-title">
                        <h3>Pealkiri/Objekti nimi</h3>
                    </div>
                    <div class="mein-card-body">
                        <p>Mingi tekst siia</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mein-card-donework">
                <div class="mein-card-donework-top">
                    <img src="~/images/samples/donejob2.jpg" alt="donejob" />
                </div>
                <div class="mein-card-donework-bottom justify-content-end">
                    <div class="mein-card-title">
                        <h3>Pealkiri/Objekti nimi</h3>
                    </div>
                    <div class="mein-card-body">
                        <p>Mingi tekst siia</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mein-card-donework">
                <div class="mein-card-donework-top">
                    <img src="~/images/samples/donejob3.jpg" alt="donejob" />
                </div>
                <div class="mein-card-donework-bottom justify-content-end">
                    <div class="mein-card-title">
                        <h3>Pealkiri/Objekti nimi</h3>
                    </div>
                    <div class="mein-card-body">
                        <p>Mingi tekst siia</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>