
@{
    ViewData["Title"] = "TEHTUD TÖÖD";
}

<section class="jumbotron leiunurk-jumbotron text-center">
    <div class="container">
        <h2 class="text-title jumbotron-heading">@ViewData["Title"]</h2>
        <p class="lead text-muted">
            Meie poolt täide viidud objektid.
        </p>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <div class="card card-tehtudtood shadow-sm">
                <div class="card-image"><img src="~/images/uploaded/leiunurk/ddazib5o.jpg" ></div>
                <div class="card-body">
                    <p class="card-title">Järvamaa kanal</p>
                    <p class="text-muted mb-2">2016-2018</p>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                        Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                    </p>
                   
                </div>

            </div>
        </div>


        <div class="col-md-12 mb-5">
            <div class="card card-tehtudtood">
                <div class="card-image"><img src="~/images/uploaded/leiunurk/1qqrexos.jpg"></div>
                <div class="card-body">
                    <p class="card-title">Post Title</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2017 by
                    <a href="#">Start Bootstrap</a>
                </div>
            </div>
        </div>

    </div>
</div>