
@{
    ViewData["Title"] = "DASHBOARD";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-md-4 dashboard-card-link">
            <a asp-area="Admin" asp-controller="Tehtudtood" asp-action="Index">
                <div class="dashboard-card card">
                    <div class="card-body justify-content-center align-items-center">
                        <h5 class="card-title">TEHTUD TÖÖD</h5>
                        <p class="card-text">test</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 dashboard-card-link">
            <a asp-area="Admin" asp-controller="Partnerid" asp-action="Index">
                <div class="dashboard-card card">
                    <div class="card-body justify-content-center align-items-center">
                        <h5 class="card-title">PARTNERID</h5>
                        <p class="card-text">test</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 dashboard-card-link">
            <a asp-area="Admin" asp-controller="Leiunurk" asp-action="Index">
                <div class="dashboard-card card">
                    <div class="card-body justify-content-center align-items-center">
                        <h5 class="card-title">LEIUNURK</h5>
                        <p class="card-text">test</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 dashboard-card-link">
            <a asp-area="Admin" asp-controller="Manage" asp-action="Index">
                <div class="dashboard-card card">
                    <div class="card-body justify-content-center align-items-center">
                        <h5 class="card-title">KASUTAJA INFO</h5>
                        <p class="card-text">test</p>
                    </div>
                </div>
            </a>
        </div>  
    </div>
</div>
