@model ENEKweb.Areas.Admin.Models.Administrator.AdminChangeUserPasswordModel
@{
    ViewData["Title"] = "Change User's Password";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
@await Html.PartialAsync("_StatusMessagePartial", TempData["StatusMessage"])
<div class="container-fluid p-0">
    <div class="row no-gutters">

        <div class="col-md-4">
            <form asp-action="ChangePassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Change password</button>
            </form>
            <a asp-action="Index" class="btn btn-secondary mt-2">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

