@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-12">
            <div id="errorPage">
                <h2 class="text-primary">Midagi juhtus, vabandust :(</h2>
                @if (Model.ErrorCode != 0) {
                    if (Model.ErrorCode == 404) {
                        <h3 class="text-secondary">Antud lehte ei leitud.</h3>
                        <p class="text-danger">@Model.ErrorCode</p>
                    }
                    else {
                        <p>
                            <strong>Error: </strong> <code>@Model.ErrorCode</code>
                        </p>
                    }

                }
                        <a asp-area="" asp-action="Index" asp-controller="Home" class="btn homestyle-color-button-link">TAGASI ESILEHELE</a>
            </div>

        </div>
    </div>
</div>
