@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ErrorCode != 0)
{
    <p>
        <strong>Error: </strong> <code>@Model.ErrorCode</code>
    </p>
}

<p>An error occured, sorry :(</p>